.list-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}

.forecast-day {
    width: 5%;
    padding: 15px
}

.forecast-6 {
    display: none;
}

.hours-temp-info {
    display: flex;
    justify-content: space-between;
}

.header,
.main {
    text-align: center;
}

.forecast-title {
    display: flex;
    justify-content: center;
}

.min-max-wrapper {
    display: flex;
    justify-content: center;
}