.list-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}

.forecast-day {
    padding: 15px;
    padding-top: 0;
    border: rgb(110, 110, 110) 0.5px dotted;
}

.forecast-6 {
    display: none;
}

.hours-temp-info {
    display: flex;
    justify-content: space-between;
}

.header,
.main {
    text-align: center;
}

.forecast-title {
    display: flex;
    justify-content: center;
}

.min-max-wrapper {
    display: flex;
    justify-content: center;
}

.min-max-wrapper {
    margin-bottom: 10px;
}